page-about {
	#card-stack {
		width: 90%;
		height: 350px;
		background: #fff;
		border: 0px solid #000;
		margin: 100px auto 0;
		border-radius: 10px;
		position: relative;
	}

	#card-stack ion-card {
		border-radius: 10px;
		position: absolute;
		text-align: center;
		top: 3%;
		height: 90%;
	}
	ion-card-content {
		padding-top: 60px;
	}
}
