<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Donnybrook!</h2>
  <!-- <ion-list>
    <ion-item class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </ion-item>
  </ion-list> -->
  
  <hr>
  <div *ngIf="user">
    <ion-item>
      <ion-label color="primary" floating>Email Input</ion-label>
      <ion-input #email type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Password Input</ion-label>
      <ion-input #pwd type="password"></ion-input>
    </ion-item>

    <button (click) = 'signup(email.value,pwd.value)' ion-button round>Sign Up</button>
    <button (click) = 'login(email.value,pwd.value)' ion-button round>Log In</button>
    <button (click) = 'logout()' ion-button round>Log Out</button>
  </div>
  
  <div> {{ (user | async)?.uid }} </div>
</ion-content>
